extends layout

block content
	h1 Ajax Countries

	button#loadCountries Load Countries
	form
		input(type="text", name="countrySearch", placeholder="Search for a Country")
		input(type="submit")
			
	ul#countryList